name: 多看点

on:
  workflow_dispatch:

  schedule:
     - cron: '*/20 * * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【多看点】'   
        run: |
          node workflow/dkdVideo.js
        env:
          DKDTOKENBODY: ${{ secrets.DKDTOKENBODY }}
          DKDTOKEKEY: ${{ secrets.DKDTOKEKEY }}
          DKDLOTTOURL: ${{ secrets.DKDLOTTOURL }}
          DKDLOTTOURLKEY: ${{ secrets.DKDLOTTOURLKEY }}
          DKDCASHURL: ${{ secrets.DKDCASHURL }}
          DKDCASHKEY: ${{ secrets.DKDCASHKEY }}
         #GETAWARDBODY: ${{ secrets.GETAWARDBODY }}

