name: 步步宝

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0-15/2 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      
      - name: npm install
        run: |
          npm install
      - name: '运行 【步步宝】'
        run: |
          node workflow/adwktt/BuBuBao.js
        env:
          TZ: Asia/shanghai
