name: 腾讯自选股

on:
    workflow_dispatch:
    schedule:
        - cron: "30 8 * * *"
    watch:
        types: [started]

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 10.x
              uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - name: npm install
              run: |
                  npm install
            - name: "运行【腾讯自选股】"
              run: |
                  node workflow/TencentStock.js
              env:
                  userheaderVal: ${{ secrets.userheaderVal }}
                  userkeyVal: ${{ secrets.userkeyVal }}
                  signheaderVal: ${{ secrets.signheaderVal }}
                  signkeyVal: ${{ secrets.signkeyVal }}
                  taskheaderVal: ${{ secrets.taskheaderVal }}
                  taskkeyVal: ${{ secrets.taskkeyVal }}
                  wxtaskkeyVal: ${{ secrets.wxtaskkeyVal }}
